---
layout: main
---

I am a Machine Learning Research Scientist at Megagon Labs and a Lecturer in Machine Learning at UC Berkeley and Southern Methodist University. 
In 2017-2022 I was as a Machine Learning Manager at Amazon working on Machine Learning and Information Retrieval aplications for Amazon Alexa. 
I hold a PhD in Computer Science from the University of Chicago where I was advised by <a href="http://people.cs.uchicago.edu/~risi">Risi Kondor</a>. My 
PhD work focused on applying harmonic analysis to matrix factorizations and large graphs drawing on ideas from functional analysis, 
numerical linear algebra & randomized algorithms. I have experience working with biological datasets and have more recently applied Machine Learning to signal & audio processing
tasks, text-based and natural language processing tasks. Prior to graduate school, I received a BA from Colgate University, where I studied molecular biology and computer science. I grew up in Bulgaria.
<br></br>
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
